#jinja2: lstrip_blocks: "True"
[Unit]
Description=Email2Matrix
After=podman.service
Requires=podman.service

[Service]
Type=simple
ExecStartPre=podman kill matrix-email2matrix
ExecStartPre=podman rm matrix-email2matrix

ExecStart=podman run --rm --name matrix-email2matrix \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--network={{ matrix_podman_network }} \
			-p {{ matrix_email2matrix_smtp_host_bind_port }}:2525 \
			--mount type=bind,src={{ matrix_email2matrix_config_dir_path }}/config.json,dst=/config.json,ro \
			{% for arg in matrix_email2matrix_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_email2matrix_podman_image }}

ExecStop=podman kill matrix-email2matrix
ExecStop=podman rm matrix-email2matrix
Restart=always
RestartSec=30
SyslogIdentifier=matrix-email2matrix

[Install]
WantedBy=multi-user.target
